{
  "root": true,
  "env": { "node": true },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "jsdoc",
    "functional",
    "promise",
    "no-loops"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier",
    "plugin:jsdoc/recommended",
    "plugin:promise/recommended",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "no-console": "warn",
    "prettier/prettier": "warn",
    "no-loops/no-loops": "error",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-unnecessary-type-assertion": "warn"
  },
  "reportUnusedDisableDirectives": true
}
